language: node_js
node_js:
- '0.11'
- '0.10'
notifications:
  hipchat:
    rooms:
      secure: NEyHK7ig2/c1zZllFlokyno2bi3smYqgY1HhOhXuYItqtPnvUPv4vY6DzfBMYT0gTNdA+v4UBpzrPBhEjP4oqsYbkFeOsioAYbcnuLFMHEpAN7x0uNlczhbCp5vwlA3SLi658GY7EOEEkBiIYsnoMkm14gFSf0eNQq1SX0JTgXI=
